@tailwind base;
@tailwind components;
@tailwind utilities;

/* div{
  border:1px solid red;
} */

html{
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}
html::-webkit-scrollbar{
  width:0px;
  display: none;
}

html{
  scrollbar-width: 0px;
  -ms-scrollbar-width: 0px;
}